@keyframes flicker-anim {
        0% { opacity:1; }
        50% { opacity:0; }
        100% { opacity:1; }
}

.html, body {
    overflow-x: hidden;
}

.fast-flicker {
    -webkit-animation: flicker-anim .1s;
    -moz-animation: flicker-anim .1s;
    -o-animation: flicker-anim .1s;
     animation: flicker-anim .1s;
     animation-iteration-count: 14;
     font-family: Helvetica;
     font-size: 1.5em;
    }

.avatar-image {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-80%);
    transform: translate(-50%,-80%);
    border-radius: 50%;
    border: 3px solid white;
    width: 25vh;
}

.my-name {
    position: absolute;
    top: 60vh;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    font-size: 4vh;
}

.my-title{
    position: absolute;
    top: 70vh;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    font-size: 2.5vh;
}


.career-node {
    height: 20vw;
    width:45vw;
    background:#2f3b42;
    margin-top:2vh;
}

.node-text {
    float:right;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 40%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    float:right;
    width: 50vw;

}

.node-image {
    float:left;
    display:block;
    width: 15vw;
    height:15vw;
    border-radius: 50%;
    top: 50%;
    left: 20%;
    margin: 0;
    position: absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.company-text {
    font-size: 2.5vw;
}

.title-text{
    font-size: 2vw;
}

.date-text {
    font-size: 1.5vw;
}


.github-panel{
    background-color: #282e31;
    width : 80vw;
    height : 30vh;
    margin:auto;
}

.github-contrib-count{
    font-size: 3vh;
    text-align:center;
    padding: 3vh;
}